.location__content {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.location__text {
  max-width: 300px;
  width: 100%;
  
  border-radius: 10px;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.location__text span {
  font-size: 35px;
  font-weight: bold;
  color: rgb(233, 200, 56);
  text-shadow: 0 0 10px rgba(255,210,119, 0.5);
}

.location__data-time-before {
  margin-right: 10px;
  margin-left: 5px;
}

.location__data-time-after {
  margin-left: 6px;
}

.location__data-time-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2px;
}

.location__data {
  font-size: 30px;
  font-weight: bold;
  color: rgb(233, 200, 56);
  text-shadow: 0 0 10px rgba(255,210,119, 0.5);
  margin-top: 2px;
}

.location__data-address {
  margin-top: 7px;
  text-transform: none;
}

.location__data-address span {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-shadow: none;

  font-weight: bold;
}

.location__data-description {
  display: inline-block;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;

  text-align: center;
  color: #5e5e5e;
  font-size: 11px;

  text-transform: none;
}

// .location__map {
//   max-width: 600px;
// }

#gmap_canvas {
  height: 350px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}

.location__map-text {
  max-width: 650px;
  width: 100%;
  margin-top: 20px;
}

.location__data-time {
  margin-top: 15px;
  vertical-align: middle;
}



@media (max-width: 768px) {
  .location__content {
    flex-direction: column;
  }

  .location__text {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .location__data-time {
    margin-top: 7px;
  }

  .location__data {
    font-size: 26px;
  }

  .location__text span {
    font-size: 26px;
  }

  #gmap_canvas {
    max-width: 100%;
  }

  .location__data-address {
    margin-top: 7px;
    text-transform: none;
  }

  .location__data-address span {
    font-size: 14px;
  }

  .location__map-text {
    margin-top: 10px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  #gmap_canvas {
    height: 300px;
  }
}

@media (max-width: 550px) {
  .location__text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .location__data {
    font-size: 23px;
  }

  .location__data-time {
    margin-top: 5px;
  }

  .location__text span {
    font-size: 23px;
  }

  .location__data-address {
    margin-top: 3px;
    text-transform: none;
  }

  .location__data-address span {
    font-size: 14px;
  }

  .location__map-text {
    margin-top: 10px;
    font-size: 14px;
  }

  #gmap_canvas {
    height: 270px;
  }
}

@media (max-width: 400px) {
  #gmap_canvas {
    height: 190px;
  }

  .location__data-description {
    margin-top: 3px;
  }
}
