.location {
  // background: #fbce5d;
}

.location__content {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.location__text {
  max-width: 280px;
  width: 100%;
  
  border-radius: 10px;

  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.location__text span {
  font-size: 35px;
  font-weight: bold;
  color: rgb(233, 200, 56);
  text-shadow: 0 0 10px rgba(255,210,119, 0.5);
}

.location__data-time-before {
  margin-right: 10px;
  margin-left: 5px;
}

.location__data-time-after {
  margin-left: 6px;
}

.location__data-time-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
}

.location__data {
  font-size: 35px;
  font-weight: bold;
  color: rgb(233, 200, 56);
  text-shadow: 0 0 10px rgba(255,210,119, 0.5);
  margin-top: 5px;
}

#gmap_canvas {
  height: 350px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}

.location__map-text {
  max-width: 650px;
  width: 100%;
  margin-top: 20px;
}

.location__data-time {
  margin-top: 15px;
  vertical-align: middle;
}



@media (max-width: 768px) {
  .location__content {
    flex-direction: column;
  }

  .location__text {
    margin-bottom: 40px;
  }

  #gmap_canvas {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .location__text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .location__data {
    font-size: 29px;
  }

  .location__text span {
    font-size: 29px;
  }

  .location__map-text {
    margin-top: 10px;
    font-size: 17px;
  }

  #gmap_canvas {
    height: 70vw;
  }
}
