.seating__content {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.seating-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}

.seating__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}

.seating__descr {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;


  text-align: center;
}

.seating__input {
  border: none;
  max-width: 600px;
  width: 100%;
  height: 44px;
  padding: 0 15px;
  margin-bottom: 10px;

  text-align: center;
  font-size: 17px;
  
  border: 1px solid hsla(0,0%,67%,.45);
  border-radius: 3px;
  background: #fff;
}

.seating-form__label {
  display: inline-block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
}

.seating-form__label-description {
  display: inline-block;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;

  text-align: center;
  color: #5e5e5e;
  font-size: 12px;
}

.seating-form__file {
  display: none;
}

@media (max-width: 600px) {
  .seating__content {
    height: 100%;
    padding-top: 100px;
  }
}
