doctype html
head
  title Royal Flash Event
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="format-detection" content="telephone=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="shortcut icon" href="http://crystalawardsparty.ru/assets/26c73aa/images/favicon.ico" type="image/x-icon")
body
  .container
    button.btn.list-btn
      span
        | Отобразить список пользователей
      .gradient
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');