doctype html
head
  title Royal Flash Event
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="format-detection" content="telephone=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="shortcut icon" href="http://crystalawardsparty.ru/assets/26c73aa/images/favicon.ico" type="image/x-icon")
body
  div
    .main-nav-overlay
      nav.main-nav
        ul
          li
            a(href="#page-1").main-nav__link
              | Главная
          li
            a(href="#page-2").main-nav__link
              | Регистрация
          li
            a(href="#page-3").main-nav__link
              | Место проведения
          li
            a(href="#page-4").main-nav__link
              | Контакты
    .navBurger#navToggle
  div#fullpage
    header.container.page-header.section
      .page-header__content
        .page-header__img
          img(class='img' src='./images/header.png')
        .page-header__text
          | Не секрет, что гордость – это особенное и сильное чувство, благодаря которому
          | можно обратить внимание на свои достижения, умения и сильные стороны, поэтому
          | приглашаем самых лучших сотрудников на празднование Дня Компании

    section.container.section
      .registration__content
        .registration__title
          | Внимание!
        .registration__descr
          | Подтвердите свое присутствие на мероприятии до 23 июля 2018 года
        form(action="/register", enctype="multipart/form-data" method="post" id="form").registration-form
          .registration__input-wrapper
            input(class="form__file" type='file' name="form__file" id="form__file")
            label.file_upload(for="form__file")
              span.button Прикрепить фото
              mark Ваше фото
          .registration-form__label-description
            | * наличие фото обязательно, фото хорошего качества, не темное, портретного вида
          .registration__input-wrapper
            input(type="text" name="form__surname" placeholder="Введите ФИО" class="registration__input" id="surname")
          .registration-form__label-description
            | ** если присутствие не будет подтверждено, вас не будет в списках на входе.
          button.btn.btn-come
            span
              | Приду
            .gradient
      .registration__background

    section.location.section
      .container
        .location__content
          .location__text
            | Мы ждем вас
            .location__data
              | 2 августа
            .location__data-time
              | сбор гостей
              br
              .location__data-time-div
                | с
                span.location__data-time-before
                  = ' '
                  | 18:00
                  =' '
                | до
                span.location__data-time-after
                  = ' '
                  | 19:00
            .location__data-address
              |  <span>Адрес:</span> проспект Шолохова 316,<br /> развлекательный комплекс <br /> "Старый город"
            .location__data-description
              | * пропуск на территорию <br /> осуществляется строго с 18:00
          .location__map
            a(href="./images/map.png" data-fancybox).location__map-link
            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyByUg22uv5jdTNNL6lD50kut7Lyt8QAB0A')
            div.location__map-map
              #gmap_canvas
              style.
                #gmap_canvas img{max-width:none!important;background:none!important}
            script(type='text/javascript').
              function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(47.273204,39.82210199999997),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(47.273204,39.82210199999997)});infowindow = new google.maps.InfoWindow({content:'Ростов-на-Дону, Шолохова 316'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
            .location__map-text
              | Вся информация о трансфере будет вам выслана дополнительно

    section.container.section
      .contacts
        .contacts__questions
          | При возникновении вопросов вы можете обратиться:
        .contacts__name
          | Мария Гурьева
        .contacts__contacts-block
          .contacts__email
            | E-mail:
            = ' '
            a(href= "mailto:mvgureva@rnd.beeline.ru")
               | mvgureva@rnd.beeline.ru
          .contacts__tel
            | Тел.: +7 961 274 50 63
      .contacts__background
  .popup
    .popup-overlay
      .popup-container
        button.popup-close
        .popup__text
          | Успешно!
        a(href="#page-3").btn.btn-popup__link
            span
              | Место проведения
            .gradient

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
